




	body{
			margin:0;
			padding: 0;
			line-height: 1.5em;
			font-family: Varela Round;
			background-color: #EFF3FF;
		}


	.navbar {
	  min-height: 60px;
	  background-color: #EFF3FF;
	  box-shadow: 3px 3px 5px #EFF3FF;
	  padding-bottom: 0px; 
	  padding-top: 0px;
		padding-left: 12px;
	
	}
	
	li.active{
		
		color: black;
	}
	
	


	.navbar-brand {
	 
	  
	  line-height: 60px;
	  font-size: 18px;
	  color:black;
	  opacity: 87%;
	  padding-top: 0px;
	  padding-bottom: 0px;
	 
	
	  
	 
	}

		.navbar-right > li > a:hover{
			background-color: white;
			color: black;
			opacity: 70%;
		}
		
		
	  .navbar-nav > li > a {
		/* (80px - line-height of 27px) / 2 = 26.5px */
		
		
		line-height: 1.5;
		font-size: 14px;
		font-family: Varela Round;
		color: black;
		opacity:87%;
		

	  }



	@media (min-width: 768px) {
		
		.navbar{
			padding-left: 135px;
			padding-right: 135px;
		
			
		}
		
		.navbar-right > li > a:hover{
			background-color:#EFF3FF ;
			color: black;
			opacity: 70%;
		}
		
		
	  .navbar-nav > li > a {
		/* (80px - line-height of 27px) / 2 = 26.5px */
		padding-top: 28px;
		padding-bottom: 14px;
		padding-left: 32px;
		
		line-height: 27px;
		font-size: 16px;
		font-family: Varela Round;
		color: black;
		opacity:87%;
		

	  }
	
	.navbar-brand{
		font-family: Varela Round;
		font-size: 22px;
		padding-bottom: 0px;
		padding-top: 0px;
		display: flex;
		align-items: center;
		margin-top: 14px;
		margin-bottom: 12px;
	}
	
	

	.navbar-header > a{
		
		padding-bottom: 14px;
		padding-top: 13px;
		font-size: 22px;
		font-weight: bold;
		
	}
}

	.masthead {
	  padding-top: 150px;
	  padding-bottom: 140px;
	  padding-left: 10px;

	}
	.masthead .masthead-heading {
		
	  font-size: 32px;
	  line-height: 1.5;
	  font-family: Playfair display;
	  color: #8298D3;

	}
	.masthead .masthead-subheading {
	  font-size: 18px;
	  line-height:1.5;
	  
	  color: black;
	  opacity: 87%;
	}
	
	
		.masthead .wave {
			  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
			  animation-duration: 2.5s;        /* Change to speed up or slow down */
			  animation-iteration-count: infinite;  /* Never stop waving :) */
			  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
			  display: inline-block;
			}

			@keyframes wave-animation {
				0% { transform: rotate( 0.0deg) }
			   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
			   20% { transform: rotate(-8.0deg) }
			   30% { transform: rotate(14.0deg) }
			   40% { transform: rotate(-4.0deg) }
			   50% { transform: rotate(10.0deg) }
			   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
			  100% { transform: rotate( 0.0deg) }
			}


	
	@media (min-width: 992px) {
	  .masthead {
		padding-top: 200px;
		padding-bottom: 200px;
		padding-left: 135px;
	  }
	  .masthead .masthead-heading {
		font-size: 48px;
		
		line-height: 1.5;
		font-family: Playfair display;
		letter-spacing: 1px;
	
	  }
	  .masthead .masthead-subheading {
		font-size: 36px;
		line-height: 1.5;
		padding-right: 435px;
		
		color: black;
		opacity:87%
	  }
	}
	

	
	.list-inline{
		list-style: none;
		
	}


	.list-inline > li{
		display: inline;
		padding-right: 24px;
		font-size: 14px;
		}
	
	.list-inline > li > a{
		color: #8298D3;
	}

	
	@media (min-width: 992px){
		.list-inline{
			list-style: none;
			
			
		}


		.list-inline > li{
			display: inline;
			padding-right: 48px;
			font-size: 18px;
	
		}
	
	}
	
	
	

	ul{
		list-style-type: none;
		display: inline-block;
	
	}

	li {
		
		display: block;
		color: pink;
		text-align: left;
		
		text-decoration: none;
		font-size: 16px;
		 
	}

	
	
	.work{
		
		width: 100%;
		background-color: #FFFFFF;
		font-family: Varela Round;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 80px;
		padding-top: 80px;

	}		
		

	img.rounded-corners{
		
		border-radius: 10px;
		height: 270px;
		width: 270px;
	}
	
	
	
	
	.img-wrapper {
		display: inline-block;
		overflow: hidden;
		
		
	}

.img-wrapper {
		display: inline-block;
		overflow: hidden;
		
		
	}

	img.img-wrapper{
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		
		transition: all .2s ease;
		
		vertical-align: middle;
	}

	img.img-wrapper:hover {
		-webkit-transform:scale(1.1); /* Safari and Chrome */
		-moz-transform:scale(1.1); /* Firefox */
		-ms-transform:scale(1.1); /* IE 9 */
		-o-transform:scale(1.1); /* Opera */
		transform:scale(1.1);
	}
	div.gallery {
	  
	 width: 270px;
	 
	}

	



	div.desc {
	  padding: 5px;
	  padding-bottom: 50px;
	  text-align: left;
	  color: black;
	  opacity: 87%;
	  font-size: 14px;
	  line-height:1.5;
	  font-family: Varela Round;
	
	}
	
	
	
	@media (min-width: 992px){
		
		
		.work{
		
		width: 100%;
		background-color: #FFFFFF;
		font-family: Varela Round;
		padding-left: 105px;
		padding-right: 103px;
		padding-top: 120px;
		padding-bottom:120px;

	}		
		
	
		
		img.rounded-corners{
			
		border-radius: 10px;
		height: 350px;
		width: 350px;
	}
	
	
	
	
	
	.img-wrapper {
		display: inline-block;
		overflow: hidden;
		
		
	}

	img.img-wrapper{
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		
		transition: all .2s ease;
		
		vertical-align: middle;
	}

	img.img-wrapper:hover {
		-webkit-transform:scale(1.1); /* Safari and Chrome */
		-moz-transform:scale(1.1); /* Firefox */
		-ms-transform:scale(1.1); /* IE 9 */
		-o-transform:scale(1.1); /* Opera */
		transform:scale(1.1);
	}
		
	
		div.gallery {
	  
			width: 350px;
		}
		
		
		div.desc {
		  padding: 5px;
		  text-align: left;
		  color: black;
		  opacity:87%;
		  font-weight:450;
		  font-size: 16px;
		  line-height:1.5;
		  font-family: Varela Round;
		
		}
		
		
	
	
	}


	.footer{
	  width: 100%;
	  padding-top: 35px;
	  padding-bottom: 40px;;
	  background-color: #1F265E;
	  color: #ffff;
	  font-size: 14px;
	  line-height: 1.5;
	  font-family: Varela Round;
	  text-align: center; 
	}
	
	a.btn{
		color: white;
		opacity: 87%;
	}
	
	a.btn:hover{
		color: #688EFF;
	}
	
	@media (min-width: 768px){

		.footer {
		  padding-top: 65px;
		  padding-left: 135px;
		  padding-right: 135px;
		  padding-bottom: 70px;
		  background-color: #1F265E;
		  color: rgba(255, 255, 255, 0.87);
		  font-size: 18px;
		  line-height: 1.5;
		  font-family: Varela Round;
		  width: 100%;
		  text-align: left;
		  
		  
  
		}
		.social{
			float: right;
		}
		.foot{
			float: left;
		}
		
		.social-inline{
			list-style: none;
		}
		
		.social-inline > ul{
			
			display: inline-block;
		}
		
		.social-inline > li{
			display: inline;
			padding-left: 30px;
			
			
		}

	}
	
	
		.about{
			
			width: 100%;
			padding-left: 24px;
			padding-right: 24px;
			padding-top: 40px;
			padding-bottom: 40px;
			font-size: 16px;
			line-height: 1.5;
			font-weight: 370;
			color: rgba(0, 0, 0, 0.6);

		}
		
		.head{
			
			
			font-size: 18px; 
			font-weight: bold;
			color: rgba(0, 0, 0, 0.7);
			
		}
	
	img.photo{
		border-radius: 5px;
		height: 351px;
		width: 310x;
		margin-bottom: 25px;
	}
	
	.pic{
		float: center;
	}
	
	
	
	@media (min-width: 992px) {
		.about{
			
			color: rgba(0, 0, 0, 0.6); 
			width: 100%;
			padding-top: 180px;
			padding-bottom:120px;
			padding-left: 150px;
			padding-right: 82px;
			font-size: 20px;
			line-height: 1.5;
			font-weight: 450;

		}
		
		.pic{
			float: right;	
		}
		
		.head{
			
			
			font-size: 24px; 
			font-weight: bold;
			color: rgba(0, 0, 0, 0.7);
			
		}
	
		
		
		img.photo{
			border-radius: 5px;
			height: 612px;
			width: 500px;
			margin-bottom: 0px;
		}
	
	
	}
	

	
	

